*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    background-color: black;
}

#title{
    text-align: center;
    font-size: 40px;
}

main > p{
    text-align: center;
}

#image {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    padding-top: 20px;
}

#img-caption{
    text-align: center;
    color: lightgray;
}

#img-div{
    border: 1px solid rgb(27, 27, 27);
    background-color: rgb(27, 27, 27);
    border-radius: 7px;
    margin: 30px;
}

#image{
    align-content: center;
    max-width: 100%;
}

main{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(18, 18, 19);
    border-radius: 7px;
    color: lightgray;
}

ul{
    max-width: 50%;
    margin: 0 auto;
    padding: 10px 0;
}

a{
    color: aqua;
}
